@charset "UTF-8";
.page_hd {
  background-color: #fff;
  margin-bottom: 0.41667rem;
  .page__cell {
    .flexbox {
      padding: rem(30px) rem($inner-width) rem(30px) rem($inner-width);
      font-size: 16px;
      &:active {
        background: #f2f2f2;
      }
    }
  }
}
.tabbar-radius {
  margin: .4rem 15px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  background-color: #fff;
  overflow: hidden;
  li:first-child {
    border-left: none
  }
  .active {
    background-color: #2E2E33;
    border-color: #2E2E33;
    color: #fff !important;
  }
  &.tab-color .active {
    background-color: $primaryBg;
  }
}

.ev-tab {
  background-color: $primaryBg;
  color: #ddd;
  line-height: 40px;
  height: 40px;
  .ev-sub {
    float: left;
    width: 50%;
    text-align: center;
  }
  .active {
    color: #fff;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 80%;
      left: 10%;
      height: 3px;
      background: rgba(255, 255, 255, .8);
      bottom: 1px;
    }
  }
}

.textarea {
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  height: 50px;
  appearance: none;
  border-radius: 0;
  padding: 4px;
  font-size: 14px;
}

.bot-btn {
  background-color: #fff;
  line-height: 40px;
}

.picker-model {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
  .picker {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all .4s linear;
  }
}

.fadeUp-enter-active, .fadeUp-leave-active {
  transition: opacity .2s;
}

.fadeUp-enter, .fadeUp-leave-active {
  opacity: 0;
}

.fadeUp-enter-active .picker, .fadeUp-leave-active .picker {
  transition: transform .4s;
}

.fadeUp-enter .picker, .fadeUp-leave-active .picker {
  transform: translate3d(0, 100%, 0);
}

.network--error {
  padding-top: 120px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

.icon-warn {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(./assets/images/icon-error.png) no-repeat;
  background-size: 100% 100%;
  vertical-align: top;
  margin-right: 3px;
}

.page-loading {
  text-align: center;
  padding-top: 20px;
}

.m-loading {
  width: 28px;
  height: 28px;
  display: inline-block;
  border: 2px solid #8EC1E3;
  border-radius: 100%;
  border-color: #777 #777 #777 transparent;
  animation: oval .75s linear infinite;
}

@keyframes oval {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(359deg)
  }
}
